.products {
  padding: 30px 50px;
  display: flex;
  flex-direction: column;

  .top {
    flex: 1;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    .filterItem {
      width: 100%;
      margin-bottom: 30px;

      h2 {
        font-weight: 400;
        margin-bottom: 20px;
      }

      .inputItem {
        margin-bottom: 10px;

        label {
          margin-left: 10px;
        }
      }
    }
  }

  .bottom {
    flex: 3;

    .catImg {
      width: 100%;
      height: 300px;
      object-fit: cover;
      margin-bottom: 50px;
    }
  }
}